/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: aqua;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

main {
    margin-top: 60px;
}