@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body, input, button, textarea, select {
    font: 26px 'Radio Canada', sans-serif;
    font-weight: 500;
}

section{
    height:81vh;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-left: 2.11cm;
    overflow: hidden;
  }
  